.f{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
    background-color: #1e0a3c;
    margin: 0px -100px;
}
.fl{
    height: 45vh;
    display: flex;
    flex-direction: column;
}
.fl h1{
    padding: 20px;
    color: pink;

}
.fl p{
    padding: 20px 30px;
    font-size: large;
    color: white;
}
.sl img{
    width: 40vw;
    height: 40vh;
    border-radius: 20px;
}