.first img{
    border-radius: 20px;
}
.first_1{
    background-image: linear-gradient(92deg, rgba(67, 66, 66, .99) 22.37%, hsla(0, 0%, 85%, 0) 134.83%);
    position: absolute;
    top: 120px;
    color: white;
    width: 40vw;
}